A12G/Node_Red_Code/Node_red_code.json
[
    {
        "id": "e3b18077d7dd6aa0",
        "type": "tab",
        "label": "HelMet Node-Red Implementation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd6d2c55c97f39b6",
        "type": "ui_button",
        "z": "e3b18077d7dd6aa0",
        "name": "Right",
        "group": "57e2f4d591199790",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Simulate Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TURN_RIGHT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "374c6a4a45c4440b",
                "c192221a5ee08123"
            ]
        ]
    },
    {
        "id": "160adef321649cf1",
        "type": "ui_button",
        "z": "e3b18077d7dd6aa0",
        "name": "Left",
        "group": "57e2f4d591199790",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Simulate Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TURN_LEFT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "374c6a4a45c4440b",
                "c192221a5ee08123"
            ]
        ]
    },
    {
        "id": "c192221a5ee08123",
        "type": "debug",
        "z": "e3b18077d7dd6aa0",
        "name": "debug Navigation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "540b321987c06019",
        "type": "comment",
        "z": "e3b18077d7dd6aa0",
        "name": "Navigation and LED",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "e9e1cdf9963f331d",
        "type": "function",
        "z": "e3b18077d7dd6aa0",
        "name": "Generate XYZ Data",
        "func": "// Node-RED Function to parse the message and send x, y, z to separate outputs\nmsg.payload = JSON.parse(msg.payload.replace(/'/g, '\"')); // Convert to valid JSON and parse\n\n// Send x to the first output\nnode.send([{ payload: msg.payload.x }, null, null]);\n\n// Send y to the second output\nnode.send([null, { payload: msg.payload.y }, null]);\n\n// Send z to the third output\nnode.send([null, null, { payload: msg.payload.z }]);\n\n// The function node does not return anything because we are using node.send()\nreturn null;",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1600,
        "wires": [
            [
                "aa97263794a86e6a"
            ],
            [
                "e5f493d5bd643b50"
            ],
            [
                "e451d87fd32526fe",
                "564b572863689a55"
            ]
        ]
    },
    {
        "id": "48731dd61b0aa1b9",
        "type": "mqtt out",
        "z": "e3b18077d7dd6aa0",
        "name": "Send Motion Status",
        "topic": "helmet/motion/status",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 1260,
        "y": 1340,
        "wires": []
    },
    {
        "id": "43ee5ff0289727e5",
        "type": "comment",
        "z": "e3b18077d7dd6aa0",
        "name": "3-axis Accelerometer",
        "info": "",
        "x": 170,
        "y": 1500,
        "wires": []
    },
    {
        "id": "c5c15e9ce7a5ae66",
        "type": "ui_button",
        "z": "e3b18077d7dd6aa0",
        "name": "Brake",
        "group": "57e2f4d591199790",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Brake",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SOLID_RED",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "374c6a4a45c4440b",
                "c192221a5ee08123"
            ]
        ]
    },
    {
        "id": "374c6a4a45c4440b",
        "type": "mqtt out",
        "z": "e3b18077d7dd6aa0",
        "name": "Directions",
        "topic": "P1_LED_ESE516_T0",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "fc969aec4a5bd0e1",
        "type": "ui_button",
        "z": "e3b18077d7dd6aa0",
        "name": "Bike mode",
        "group": "e0c82e5b7274876b",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Bike Mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-unlock",
        "payload": "MODE_BIKE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "6af09644ce9a3b06"
            ]
        ]
    },
    {
        "id": "fac04bd5e8b897de",
        "type": "ui_button",
        "z": "e3b18077d7dd6aa0",
        "name": "Lock Mode",
        "group": "e0c82e5b7274876b",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Lock Mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-lock",
        "payload": "MODE_LOCK",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "6af09644ce9a3b06"
            ]
        ]
    },
    {
        "id": "58be542d27508dd4",
        "type": "ui_button",
        "z": "e3b18077d7dd6aa0",
        "name": "Fun Mode",
        "group": "e0c82e5b7274876b",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fun Mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-smile",
        "payload": "MODE_FUN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "6af09644ce9a3b06"
            ]
        ]
    },
    {
        "id": "6af09644ce9a3b06",
        "type": "mqtt out",
        "z": "e3b18077d7dd6aa0",
        "name": "Mode State",
        "topic": "SYSTEM_STATE_ESE516_T0",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "afe224e2506114d0",
        "type": "mqtt in",
        "z": "e3b18077d7dd6aa0",
        "name": "IMU",
        "topic": "HELMATE_IMU_TOPIC_5160",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 1620,
        "wires": [
            [
                "e9e1cdf9963f331d",
                "67391db650b1290d"
            ]
        ]
    },
    {
        "id": "f431aa8c6cd491c7",
        "type": "mqtt in",
        "z": "e3b18077d7dd6aa0",
        "name": "Version",
        "topic": "VERSION_STATE_ESE516_T0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 1160,
        "wires": [
            [
                "90e01f61c5b35535"
            ]
        ]
    },
    {
        "id": "90e01f61c5b35535",
        "type": "ui_text",
        "z": "e3b18077d7dd6aa0",
        "group": "b61e1967f764f5da",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Version",
        "label": "Version",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 640,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e451d87fd32526fe",
        "type": "debug",
        "z": "e3b18077d7dd6aa0",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1760,
        "wires": []
    },
    {
        "id": "67391db650b1290d",
        "type": "debug",
        "z": "e3b18077d7dd6aa0",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 1720,
        "wires": []
    },
    {
        "id": "aa97263794a86e6a",
        "type": "ui_chart",
        "z": "e3b18077d7dd6aa0",
        "name": "X Chart",
        "group": "16846f0d85aa0887",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "X-Axis Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "-2048",
        "ymax": "2048",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#053de6",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#000000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "e5f493d5bd643b50",
        "type": "ui_chart",
        "z": "e3b18077d7dd6aa0",
        "name": "Y Chart",
        "group": "16846f0d85aa0887",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Y-Axis Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "-2048",
        "ymax": "2048",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "564b572863689a55",
        "type": "ui_chart",
        "z": "e3b18077d7dd6aa0",
        "name": "Z Chart",
        "group": "16846f0d85aa0887",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Z-Axis Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "-2048",
        "ymax": "2048",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff781f",
            "#aec7e8",
            "#151413",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "0cd5acfd59e2faf1",
        "type": "ui_button",
        "z": "e3b18077d7dd6aa0",
        "name": "Firmware Update",
        "group": "b61e1967f764f5da",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Firmware Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "fw",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 940,
        "wires": [
            [
                "962940904b699049",
                "7d780e70c38772f9"
            ]
        ]
    },
    {
        "id": "7d780e70c38772f9",
        "type": "delay",
        "z": "e3b18077d7dd6aa0",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 1060,
        "wires": [
            [
                "e2964909e5720245"
            ]
        ]
    },
    {
        "id": "962940904b699049",
        "type": "mqtt out",
        "z": "e3b18077d7dd6aa0",
        "name": "FW udpate",
        "topic": "FW_STATE_ESE516_T0",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 790,
        "y": 940,
        "wires": []
    },
    {
        "id": "e2964909e5720245",
        "type": "mqtt out",
        "z": "e3b18077d7dd6aa0",
        "name": "Reset",
        "topic": "RESET_STATE_ESE516_T0",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 770,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b20cac4b3d3f116a",
        "type": "mqtt in",
        "z": "e3b18077d7dd6aa0",
        "name": "Lock state",
        "topic": "LOCK_STATE_ESE516_T0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 1920,
        "wires": [
            [
                "c9f22e1ded301684",
                "e2e70d108f9b1f1c"
            ]
        ]
    },
    {
        "id": "c9f22e1ded301684",
        "type": "trigger",
        "z": "e3b18077d7dd6aa0",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "ALERT:0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 1920,
        "wires": [
            [
                "3e97f8d780810a90"
            ]
        ]
    },
    {
        "id": "3e97f8d780810a90",
        "type": "ui_led",
        "z": "e3b18077d7dd6aa0",
        "order": 3,
        "group": "57e2f4d591199790",
        "width": 0,
        "height": 0,
        "label": "Helmate Alert",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 730,
        "y": 1920,
        "wires": []
    },
    {
        "id": "e2e70d108f9b1f1c",
        "type": "debug",
        "z": "e3b18077d7dd6aa0",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 2060,
        "wires": []
    },
    {
        "id": "432e41b7069502e3",
        "type": "mqtt in",
        "z": "e3b18077d7dd6aa0",
        "name": "IRstate",
        "topic": "IR_STATE_ESE516_T0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 2160,
        "wires": [
            [
                "d8fb98c4d7293947",
                "632928f5f4232256"
            ]
        ]
    },
    {
        "id": "d8fb98c4d7293947",
        "type": "debug",
        "z": "e3b18077d7dd6aa0",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 2280,
        "wires": []
    },
    {
        "id": "632928f5f4232256",
        "type": "function",
        "z": "e3b18077d7dd6aa0",
        "name": "Generate XYZ Data",
        "func": "// Node-RED Function to parse the message and send x, y, z to separate outputs\nmsg.payload = JSON.parse(msg.payload.replace(/'/g, '\"')); // Convert to valid JSON and parse\n\n// Send x to the first output\nnode.send([{ payload: msg.payload.LEFT }, null]);\n\n// Send y to the second output\nnode.send([null, { payload: msg.payload.RIGHT }]);\n\n// The function node does not return anything because we are using node.send()\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2160,
        "wires": [
            [
                "ac15cbab2d915d75",
                "e6b7e7628e90066d"
            ],
            [
                "a17886ddebeb9569"
            ]
        ]
    },
    {
        "id": "e6b7e7628e90066d",
        "type": "ui_led",
        "z": "e3b18077d7dd6aa0",
        "order": 4,
        "group": "a24baf88fb3369f6",
        "width": 0,
        "height": 0,
        "label": "LEFT Obstacle",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LEFT",
        "x": 770,
        "y": 2140,
        "wires": []
    },
    {
        "id": "a17886ddebeb9569",
        "type": "ui_led",
        "z": "e3b18077d7dd6aa0",
        "order": 5,
        "group": "a24baf88fb3369f6",
        "width": 0,
        "height": 0,
        "label": "RIGHT Obstacle",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "RIGHT",
        "x": 780,
        "y": 2200,
        "wires": []
    },
    {
        "id": "ac15cbab2d915d75",
        "type": "debug",
        "z": "e3b18077d7dd6aa0",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2320,
        "wires": []
    },
    {
        "id": "57e2f4d591199790",
        "type": "ui_group",
        "name": "Navigation System",
        "tab": "d8859213d0ce8b47",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fde701c.6c6c3",
        "type": "mqtt-broker",
        "name": "AzureMqttBroker",
        "broker": "172.191.242.245",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e0c82e5b7274876b",
        "type": "ui_group",
        "name": "Modes",
        "tab": "d8859213d0ce8b47",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b61e1967f764f5da",
        "type": "ui_group",
        "name": "Firmware Update",
        "tab": "d8859213d0ce8b47",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16846f0d85aa0887",
        "type": "ui_group",
        "name": "Motion System",
        "tab": "d8859213d0ce8b47",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a24baf88fb3369f6",
        "type": "ui_group",
        "name": "Obstacle Detection",
        "tab": "d8859213d0ce8b47",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8859213d0ce8b47",
        "type": "ui_tab",
        "name": "Helmet Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]